# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

# Own

*.vcx*
*.cmake
CMakeCache.txt
CMakeFiles/
*.sln
*.exe
build/
.vs*
Circuit.dir/
Debug/
Reease/